{{extend 'layout.html'}}

{{block head}}

<script src="{{=URL('static', 'js/vue.js')}}"></script>

<script>
  var get_paste_url = "{{=URL('paste', 'get_paste')}}";
  var send_paste_url = "{{=URL('paste',  'send_paste')}}";

  var get_folders_url = "{{=URL('folder', 'get_folders')}}";
  var add_folder_denied = "{{=URL('folder', 'deny_add_folders')}}";
  var add_folder_url = "{{=URL('folder', 'add_folder', user_signature=True)}}";
  var del_folder_url = "{{=URL('folder', 'del_folder', user_signature=True)}}";
  var edit_folder_get_url = "{{=URL('folder', 'edit_get_folder')}}";
  var edit_folder_submit_url = "{{=URL('folder', 'edit_submit_folder', user_signature=True)}}";

  var send_folder_phone_url = "{{=URL('sms', 'send_folder', user_signature=True)}}"
  var send_paste_phone_url = "{{=URL('sms', 'send_paste')}}"
</script>
{{end}}


<div id="vue-div">

<div class="row"> <!-- login and settings bar -->
  <div class="col-md-8">
    <div v-if="logged_in">
      <p class="text-left">
        <div class="login_bar">
        Welcome ${user_name}
      </div>
      </p>
  </div>
  </div>
  <div class="col-md-4">
  <div class="login_bar">
      <div v-if="!logged_in">
      <p class="text-right">
        <a href="{{=URL('default', 'user')}}" >login</a>
      <p>
      </div>
      <div v-if="logged_in">
        <p class="text-right">
          <a href="{{=URL('default', 'user/logout')}}" >logout</a> | <a href="{{=URL('default', 'user/profile')}}">settings</a>
        </p>
      </div>
  </div>
  </div>
</div>

<div class="row"> <!-- body button bar -->
  <div class="col-md-4"> <!-- paste save button-->
    <div v-if="textarea_changed">
      <button v-on:click="send_paste()" type="button" class= "btn btn-warning btn-xs btn-block" id="paste_save">
        <i class="fa fa-share-square fa-fw" aria-hidden="true"></i> Save Paste
    </div>
    <div v-else>
    <button v-on:click="send_paste()" type="button" class= "btn btn-info btn-xs btn-block" id="paste_save">
      <i class="fa fa-share-square fa-fw" aria-hidden="true"></i> Save Paste
    </button>
  </div>
  </div>
  <div class="col-md-4">
    <button v-on:click="send_paste_phone()" type="button" class= "btn btn-info btn-xs btn-block" id="paste_send" title="Send your saved paste content to your phone">
      <i class="fa fa-paper-plane-o fa-fw" aria-hidden="true"></i> Send Paste
    </button>
  </div>
  <div class="col-md-4"> <!-- new folder button-->
    <div v-if="folder_disabled">
      <button class="btn btn-info btn-xs btn-block disabled">
                  <i class="fa fa-plus fa-fw"></i> New Folder
      </button>
    </div>
    <div v-if="folder_enabled">
    <button v-on:click="new_folder_button" class="btn btn-info btn-xs btn-block">
                <i class="fa fa-plus fa-fw"></i> New Folder
    </button>
    </div>

  </div>
</div>

<div class="row"> <!-- body -->
  <div class="col-md-8"> <!-- paste area -->
    <textarea v-model="paste_content" placeholder="Paste useful information here!" id="textarea"></textarea>
  </div>
  <div class="col-md-4"> <!-- folders -->

    <div v-if="is_adding_folders">
      <div><input v-model="folder_name" placeholder="Folder Name" class="btn-block"></div>
      <div v-for="url_input in url_input_fields">
        <input v-model="url_input.url_field" placeholder="URL" class="btn-block">
      </div>
      <div>
        <button class="btn btn-default btn-xs" v-on:click="add_folder_entry()">
          <i class="fa fa-plus fa-fw" aria-hidden="true"></i>
        </button>
        <button class="btn btn-default btn-xs" v-on:click="delete_folder_entry()">
          <i class="fa fa-minus fa-fw" aria-hidden="true"></i>
        </button>
        <button class= "btn btn-default btn-xs" v-on:click="add_folder()"> Submit
        </button>
        <button class= "btn btn-default btn-xs" v-on:click="new_folder_button()"> Cancel
        </button>
      </div>
    </div>

    <div v-if="is_edit_folders">
      <div><input v-model="edit_folder_name" placeholder="Folder Name" class="btn-block"></div>
      <div>
        <button class= "btn btn-default btn-xs" v-on:click="edit_folder_submit()" id="edit_submit"> Submit
        </button>
        <button class= "btn btn-default btn-xs" v-on:click="edit_folder_cancel_button()"> Cancel
        </button>
      </div>
    </div>


    <template v-for="folder in folders">
      <div v-if="email ==folder.user_email">
      <div class="folder_styling">
        <div class="row">
          <div class="col-xs-6 col-sm-6" v-on:click="open_urls(folder.url_content)">
            <i class="fa fa-folder-open-o fa-fw"></i>
            ${folder.folder_name}
          </div>
          <div class="col-xs-6 col-sm-6">
            <div class="text-right">
              <i v-on:click="folder_send_phone(folder._idx)" class="fa fa-paper-plane-o fa-fw" aria-hidden="true" id="paste_send" title="Send links to your phone"></i>
              <i v-on:click="edit_folder(folder._idx)" class="fa fa-pencil fa-fw" aria-hidden="true" id="paste_send" title="Edit folder name"></i>
              <i v-on:click="delete_folder(folder._idx)" class="fa fa-trash" aria-hidden="true" id="paste_send" title="Delete folder"></i>
          </div>
          </div>
        </div>
      </template>
    </div>
    </div>
  </div>
</div>

 
</div> <!--- END VUE DIV -->


<script src="{{=URL('static', 'js/default_index.js')}}"></script>
