{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>

<script>
  var get_folders_url = "{{=URL('folder', 'get_folders')}}";
</script>
{{end}}


<a href="{{=URL('default', 'folder.html')}}" class="btn btn-warning">
            <i class="fa fa-plus"></i> New Folder
</a>



<div id="vue-div">

<p style="white-space: pre">${ paste_content }</p>

<div class="row"> <!-- login and settings bar -->
  <div class="col-md-8">
  </div>
  <div class="col-md-4">
    <p class="text-right">
    login | settings
  </p>
  </div>
</div>

<div class="row"> <!-- body -->
  <div class="col-md-2"> <!-- checklists -->
    checklists
  </div>
  <div class="col-md-6"> <!-- paste area -->
    <textarea v-model="paste_content" placeholder="Paste useful information here!"></textarea>
  </div>
  <div class="col-md-4"> <!-- folders -->
    <template v-for="folder in folders">
      <a v-on:click="open_urls(folder.url_content)">
        <i class="fa fa-folder-open-o fa-fw"></i>
        ${folder.folder_name}
      </a>
    </template>
  </div>
</div>

 
</div> <!--- END VUE DIV -->


<script src="{{=URL('static', 'js/default_index.js')}}"></script>
