/* line 1, ../sass/_main.scss */
textarea {
  width: 100%;
  height: 800px;
  border: none;
  outline: none;
  margin-top: 10px;
  background: white;
  background: rgba(255, 255, 255, 0.5);
}

/* line 11, ../sass/_main.scss */
a {
  color: black;
}

/* line 15, ../sass/_main.scss */
input {
  background: white;
  background: rgba(255, 255, 255, 0.5);
}

/* line 20, ../sass/_main.scss */
.folder_styling {
  margin-top: 10px;
  border: #303030 medium solid;
  padding: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

/* line 29, ../sass/_main.scss */
.login_bar {
  font-size: 20px;
}

/* line 33, ../sass/_main.scss */
.login_bar_welcome {
  font-size: 30px;
}

/* line 37, ../sass/_main.scss */
.my_input {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* line 42, ../sass/_main.scss */
body {
  background-color: #FFFFFF;
  background-image: url("http://127.0.01:8009/ourspace/static/images/pattern.png");
}
