textarea {
  width: 100%;
  height: 800px;
  border: none;
  outline: none;
  margin-top: 10px;
}

a {
  color: black;
}

input {
  margin-top: 5px;
  margin-bottom: 5px;
}

.folder_styling {
  margin-top:10px;
	border: #cdcdcd medium solid;
  padding: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.login_bar {
  font-size: 20px;
}
